<div class="col-md-4 my-4">
  <div class="card text-center col-md-12" style="height: 350px;" >
    <%= link_to image_tag(user.gravatar_url, class: "rounded-circle mx-auto mt-3", style: "width: 3.5rem;" ), users_show_path(user) %>
    <div class="card-body">
      <h6 class="card-title text-center"> 
        <%= link_to user.name, users_show_path(user), class: "text-black-50" %> 
        <% if user.gender == "Female" %>
          <i class="fas fa-venus fa-lg mx-2"></i>
        <% else %>
          <i class="fas fa-mars fa-lg mx-2"></i>
        <% end %>
      </h6>
      <p class="card-text">
        <h5>From:</h5> 
        <small>
          <h6> <%= user.address_city %>, <%= user.address_country%> </h6>
        </small>
      </p>

      <p class="card-text">
        <small>
          Joined at <%= time_ago_in_words(user.created_at) %> ago. 
        </small>
      </p>


      <% if current_user.friend?(user) %> 
        <%= link_to "is Your Friend.", "#", class: "btn btn-info"%>

      <% elsif current_user.pending_friends.include?(user) %>
        <%= link_to "Pending...", "#", class: "btn btn-success"%>

      <% else %>

        <%= form_for(@friendship, url: create_friend_path) do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id  %>
          <%= f.hidden_field :friend_id, value: user.id  %>
          <%= f.submit "Add As Friend", class: "btn btn-primary" %>
        <% end %>

      <% end %>
    </div>

  </div>
</div>