<div class="card mx-auto bg-light mb-5" style="width: 28rem">
  <div class="card-body">
  <h1 class="card-title">Sign up</h1>
  <h5 class="card-subtitle mb-3 text-muted">It’s quick and easy.</h5>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name,
                    label: false,
                    placeholder: "Your Name Here",
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "name" } %>

        <%= f.input :email,
                    label: false,
                    placeholder: "Your Email Here",
                    required: true,
                    input_html: { autocomplete: "email" } %>

        <%= f.input :password,
                    required: true,
                    label: false,
                    placeholder: "New Password (minimum 6 charactors)",
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>

        <%= f.input :password_confirmation,
                    label: false,
                    placeholder: "Password Confirm",
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-primary my-3" %>
      </div>
  <% end %>
    <h5>Or ... </h5>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, 
        class: "btn btn-light border border-primary text-primary font-weight-bold" %>

  </div>
</div>

