<div class="p-2">
  <div class="card">
    <div class="card-header">
      <div class="media">
      <div data-toggle="tooltip" data-placement="top" title="<%= post.user.name %>" >
        <%= link_to image_tag(post.user.gravatar_url, class: "rounded-circle mr-4", style: "width: 3rem;" ), users_show_path(id: post.user.id) %>
      </div>
      <div class="media-body">
          <small class="mt-0"><b> <%= link_to post.user.name, users_show_path(id: post.user.id), class: "text-muted" %></b></small> 
          <br>
          <small class="font-weight-lighter text-capitalize"><%= time_ago_in_words(post.created_at) %> ago. </small>
          <% if post.updated_at > post.created_at %>
            <span><small class="font-italic text-black-50">modified</small></span>
          <% end %>
      </div>
      </div>
    </div>

    <div class="card-body">

     <p class="card-text"> <%= post.content %></p>
     
     <div class="mb-3"> 
      <% if post.picture.empty? %>
        <img src="https://images.unsplash.com/photo-1566640269407-436c75fc9495?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" class="card-img-top rounded-lg" alt="Post Picture Alt" >
      <% else %>
        <%= image_tag post.picture, class: "card-img-top rounded-lg", alt: "Post Picture" %>
      <% end %>
    </div>

    <div class="d-flex justify-content-between align-items-bottom mx-2">
      
      <small class="d-flex flex-start">
        <% if like = post.liked?(current_user) %>
          <span> <%= post.likes.count %> </span>
          <%= link_to  likes_destroy_path(like), method: :delete, class: "mx-2" do  %>
            <i class="fas fa-thumbs-up text-primary"></i>
          <% end %>

        <% else %>
          <%= simple_form_for(@like, url:likes_create_path, html: {class: "ml-1"} ) do |f| %> 
              <%= f.hidden_field :likeable_type, value: "Post" %>
              <%= f.hidden_field :likeable_id, value: post.id %>
              <%= f.submit "Like", class: "btn btn-link" %>
          <% end %>
        <% end %>
      </small>

 
      <small>
        <% if current_user?(post.user) %>
          <%= link_to "Edit", edit_post_path(post), class: "text-info mx-1" %>
          <%= link_to "Destroy", post, 
                                method: :delete,
                                data: { confirm: "You sure?" },
                                class: "text-danger mx-1" %>
        <% end %>
      </small>
    </div>

    <hr>

    <div class="m-3">
      <%= render 'comments/form', post: post %>
      <%= render post.comments %>
    </div>

    
    </div>
  </div>
</div>