<div class="row">
  <div class="col-md-2">
    <div class="card" >
      <%= image_tag current_user.gravatar_url, class: "rounded-lg rounded-pill w-75 mx-auto mt-2" %>
      <div class="card-body">
        <h5 class="card-title text-center"> <%= current_user.name %> </h5>
        <%= link_to "Modify", edit_user_registration_path, class: "btn btn-info btn-block"%>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item"><small><b>From:</b> China</small></li>
        <li class="list-group-item text-truncate"><small>My Intro here.</small></li>
      </ul>
      
    </div>
  </div>

  <div class="col-md-7">
    <div class="p-3">
      <%= render 'form' %>
    </div>
    <hr>
    <div class="mx-auto">
      <%= render @posts %>
    </div>
  </div>

  <div class="col-md-3 bg-light">
    <h1>Friends List</h1>
  </div>

</div>
