<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #4e2e85;" >
  <a class="navbar-brand" href="/">Social Network</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">  
          <%= link_to "About", pages_about_path, class: "nav-link" %>
        </li>

      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=  current_user.first_name %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Profile",  edit_user_registration_path, class: "dropdown-item"%>
            <a class="dropdown-item" href="#">Friends</a>
            <a class="dropdown-item" href="#">Posts</a>
            <div class="dropdown-divider"></div>
            <%= link_to "logout", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>      
      <% else %>
        <li class="nav-item">
          <%=  link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
    
    <form class="form-inline my-2 mx-3 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
    
  </div>
</nav>