<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Social Network</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body class="d-flex flex-column h-100">
    <%=  render 'layouts/header' %>

    <div class="container">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
