<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Social Network</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  
  </head>

  <body class="d-flex flex-column h-100">
    <%=  render 'layouts/header' %>

    <div class="container">
      <%= render 'shared/alert_flash' %>

      <div class="p-5">
        <%= yield %>
      </div>

    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>
